<div *ngIf="teams; else noTeams" class="parent">
  <a [routerLink]="['/team-details', team.name]" *ngFor="let team of teams">
    <div>
      <img class="badge-img" [src]="team.badge" [alt]="team.name" />
    </div>
  </a>
</div>

<ng-template #noTeams>
  <div class="no-teams"><h2>No Teams</h2></div>
</ng-template>
