<!-- Form -->
<form>
  <!-- Mat-form-field -->
  <mat-form-field class="full-width" appearance="fill">
    <mat-icon matPrefix>search</mat-icon>
    <!-- Input -->
    <input
      type="text"
      placeholder="Search by league"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
      #leagueInput
    />
    <button
      *ngIf="myControl.value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="leagueInput.value = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
    <!-- End input -->
    <!-- Autocomplete -->
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        (click)="showTeams()"
        *ngFor="let league of filteredOptions | async"
        [value]="league.name"
      >
        {{ league.name }}
      </mat-option>
    </mat-autocomplete>
    <!-- End autocomplete -->
  </mat-form-field>
  <!-- End mat-form-field -->
</form>
<!-- End form -->

<app-teams *ngIf="isTeamsVisible" [league]="myControl.value"></app-teams>
