<div *ngIf="teamDetails">
  <div class="back-button"><a routerLink="/home">Back</a></div>
  <!-- Team name -->
  <div style="text-align: center">
    <h3>{{ teamDetails.teamName }}</h3>
  </div>
  <!-- End team name -->
  <hr />
  <!-- Banner  -->
  <img class="banner-img" [src]="teamDetails.teamBanner" alt="Banner" />
  <!-- End banner  -->
  <!-- Country -->
  <p>{{ teamDetails.country }}</p>
  <!-- End country-->
  <!-- League name -->
  <h3>{{ teamDetails.leagueName }}</h3>
  <!-- End league name -->
  <!-- English description  -->
  <p>{{ teamDetails.englishDescription }}</p>
  <!-- End english Description -->
  <!-- Stadium Description-->
  <p>{{ teamDetails.stadiumDescription }}</p>
  <!-- End stadium description -->
</div>
